h1 {
    text-align: center;
}
.about-box {
    width: 600px;
    height: auto;
    padding:1rem;
}
.explain {
    display: flex;
    width: 100%;

    
    .icon {
        width: 2rem;
        height: auto;
        margin-right: 1rem;
    }
}

@media (max-width: 480px) {
    .about-box {
        width: 260px;
        height: 500px;
        overflow-y: scroll;
        // overflow: hidden;
        padding: 0;

        .explain {
            .icon {
                width: 1.7rem;
                margin-right: 0.7rem;
            }
        }
        

        h3 {
            font-size: 18px;
        }
    }
}
