
.App {
  position: relative;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;

  .copy-right {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      z-index: 30;
      margin: 0;
      font-size: 12px;
      background-color: rgba(255, 255, 255, 0.75);
  }
}

@media (max-width: 480px) {
   .App {
     .copy-right {
       font-size: 10px;
       bottom: 1rem;
     }
   } 
}